.*
!.env
.venv
venv/

*.pyc
*.pyo
__pycache__
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.dockerignore
.git/
.gitignore
README.rst
README.md

logs/
assets/
media/
